


# Operating System Files  
  
*.DS_Store  
Thumbs.db  
*.sw?  
.#*  
*#  
*~  
*.sublime-*  
  
# Build Artifacts  
  
.gradle/  
build/  
target/  
bin/ 
 
dependency-reduced-pom.xml  
  
# Eclipse Project Files  
  
.classpath
.class    
.project  
.settings/  
  
# IntelliJ IDEA Files  
  
*.iml  
*.ipr  
*.iws  
*.idea  
*.class

*/.settings/*
*/.settings/**
*/classes/**
*/classes/*
*/target/*
/META-INF/*
*/target/classes/META-INF/maven/*/*/pom.properties
Chapter4-5-1/target/classes/META-INF/maven/com.didispace/Chapter4-5-1/pom.properties
*.log
教程/Chapter3-1-4/target/classes/META-INF/maven/com.didispace/Chapter3-1-4/pom.properties